!DOCTYPE html>
<html lang="en">

<head th:replace="~{layoutBase :: head}">
</head>

<body>

   
    <div class="container">
        <h1 class="mb-3">Atualizar informacoes</h1>
        <!--<form action="/home" th:object="${socio}" th:action="@{/update/{id}(id=${socio.id})}" method="post">-->
        <form th:object="${socio}">
			<div th:replace="~{layoutBase :: form}"></div>
			
			<div class="col-12 mt-2">
                <button type="submit" class="btn btn-dark">Atualizar</button>
            </div>
        </form>
    </div>

</body>

</html>